@import 'tailwindcss';

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'VT323', monospace;
  font-size: 1.125rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.4;
}
